  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
        <%= image_tag "walking.jpg", alt: "walking on a trail" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "driving.jpg", alt: "couple driving in the car" %>
        </div>
        <div class="carousel-item img-fluid">
          <%= image_tag "kaden.jpg", alt: "Couple kissing" %>
        </div>
      </div>
    </div>