<div class="app-card-container">
  <div class="card">
      <div class="row">
        <div class="col-md-3">
          <div class="image-adjust">
              <%= image_tag "couple.jpg", height: "500", width: "390", alt: "Couple standing on dixie rock", class: 'profile-img' %>
            </div>
          </div>

 
            <div class="col-md-9 text-adjust">
              <p>My name is Elise Adams. I am a full time software developer who loves blogging on the side. This is my lovely husband Kaden. Together we make the Adams family (*cue the music). We love taking adventures together and hope to show you some along the way. We are both entrepreneurs. I just formed a business with BigMouthFrogDev. This blog is actually built by yours truly.
              </p>

               <p>Take a gander into our blog. We hope to give you insight on starting a business, technology, diy's, and pretty much anything that comes to our minds. Mostly we want to share this for our friends and family so they may keep in touch as everyone's lives tend to take different paths.
               </p>

               <p>
               A little about us:
               </p>

               <p>Elise is obsessed with all things Harry Potter and the magical world. She loves everything about fall. Her biggest passion in life is software development and to help others achieve their dreams.
               </p>

               <p>Kaden loves persuing his dreams and making them a reality. He love everything about cars and can name off pretty much anything you can think of that has to do with them. He loves drawing out houseplans and wants to build our dream home.
               </p>

              <hr>

              <p>
              xoxo,
              </p>

              <p>
              The Adams Family 
              </p>
            </div>
          </div>
     </div>
  </div>