<div class="row card-sizing">
  <% @photos.each do |photo| %>
    <div class="col-md-4 card-sizing">
      <div class="card " data-id="<%= photo.id %>">
        <%= link_to (image_tag photo.main_image, width: '100%' , height: '100%'), blog_path(photo), class: "gallary-card" %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <a class="auth-links btn btn-outline-info hovering-effect" href="/gallery">Back to top</a>
</div>