<div class="inner cover">
    <div class="row">
    <div class="col-md-12">
        <h2 class="btn btn-lg btn-block button-style"><a class= "blog-link" href="<%= blogs_path %>"> The Adams Family Blog</a></h2>
    </div>
  </div>
</div>
