<!-- <div class="inner cover"> -->
<!--     <div class="row home-row"> -->
      <div class="home-card card">
       <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
          <h2 class="btn btn-lg btn-block button-style btn-responsive"><a class= "blog-link" href="<%= blogs_path %>"> The Adams Family Blog</a></h2>
        <div class="row nav-rowing">
            <div class="links-home"><%= link_to "About", about_path %></div>
            <div class="links-home"><%= link_to "Gallery", gallery_path %></div>
            <div class="links-home"><%= link_to "Blog", blogs_path %></div>
          </div>
        </div>
<!--   </div> -->
<!-- </div> -->
