@import "bootstrap";
@import "gritter";


@font-face {
  font-family: 'Vibur';
  src:font-url('Vibur-Regular.ttf');
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src:font-url('ShadowsIntoLight.ttf');
}

@font-face {
  font-family: 'Abel Regular';
  src:font-url('Abel-Regular.ttf');
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
font-family: 'Shadows Into Light', cursive;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90rem;
  }
}

/*
 * Custom Styles
 */

 .button-style {
  font-size: 500%;
  background: none;
  border: none;
  }

 .blog-link {
  font-weight: lighter;
  text-decoration: none !important;
  margin-left: 20%;
  position: fixed;
  }

  .card-block {
  color: black;
  text-align: left;
  text-shadow: none;
  }

  .back-link {
  text-shadow: none;
  }

  .text-size{
  font-size: 20px;
   }

   .login-link a {
   color: black;
   }

  .auth-links a {
  color: #5bc0de;
  text-decoration: none;
}

  .hovering-effect:hover a {
  text-decoration: none;
  color: white;
}

.movement {
  float: right;
  margin: 0px 12px 5px 5px;
}

.aligning{
  text-align: center;
  padding-top: 200px;
}

.form-group {
  padding-right: -15px;
}

.titling {
  text-align: center;
}

.editing > .card {
  width: 67rem;
  margin: 0 auto;
  float: none;
}

.sign_up > .card {
  width: 60rem;
  margin: 0 auto;
  float: none;
}

.login > .card {
  width: 28rem;
  margin: 0 auto;
  float: none;
}

.password {
  width: 33rem;
  margin: 0 auto;
  float: none;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('sky2.jpg') no-repeat;
  background-size: cover;
}

.app-footer {
  color: white;
}

.card-sizing {
  padding: 30px;
}

.nav-style {
  padding: 5px;
}

 .blog-link {
  font-family: 'Vibur', cursive;
 }

.app-card-container {
  color: black;
} 


.text-adjust {
  padding-left: 10%;
  padding-right: 6%;
  padding-top: 1%;
}

.profile-img {
  border: 1px solid grey;
}

.image-adjust {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.home-card.card {
  background: none;
  border: none;
}

.app-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: none;
  text-align: center;
}

.home-row {
 width: inherit;
 height: inherit;
 margin: 0;
 padding: 0;
}

.text-adjust p {
     font-family: 'Abel', Courier New;
}