@import "bootstrap";
@import "font-awesome";
@import "gritter";

@font-face {
  font-family: 'ShadowsIntoLight';
  src:font-url('ShadowsIntoLight.ttf');
}

@font-face {
  font-family: 'Abel Regular';
  src:font-url('Abel-Regular.ttf');
}

/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body { 
font-family: 'Abel', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  
font-family: 'Shadows Into Light', cursive;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  margin-left: -20%;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  font-size: 2rem;
  font-weight: normal;
  margin-left: -20%;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
  margin-left: -15%;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20%;
  background-color: #777;
  padding-right: 20%;
}
.carousel-item > img {
  max-width: 50%;
  min-width: 150%;
  margin-right: 30%;
  margin-left: -17%;
}

.carousel-inner {
  padding-right: 20%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.carousel-inner {
    width: 87%;
    height: 50%;
    -o-object-fit: contain;
    object-fit: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.back a {
  color: #5bc0de;
}

.back:hover a {
  text-decoration: none;
  color: white;
  }

  .blog-main {
  padding-left: 30px;
  padding-right: 100px;
  }


  .blog-header {
  padding-left: 40%;
  }

  .blog-links {
  padding-left: 110px;
  }

  .write-new {
   
  }

 .list-unstyled {
  font-size: 50px;
  text-align: center;
 }

 .centering {
 text-align: center;
 }

 .social-links li a {
  color: #5bc0de;
  text-align: center;
}

.social-icon {
  padding: 10px;
  padding-right: 15px;
}

.instagram-icon {
    font-size: 46px;
    border-top: 2.75px;
    border-bottom: 1px;
    border-right: 4px;
    border-left: 4px;
    border-style: solid;
    border-color: #5bc0de;
    border-radius: 8px;
    color: white;
    background-color: #5bc0de;
    background-clip: border-box;
}

.comment-card > .card {
  margin-top: 15px;
  margin-bottom: 10px;
}

.thumb-image {
  margin-left: 12%;
  margin-bottom: 5%;
  
}

.comment-attribution {
  font-size: .8em;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.topic-label {
  padding-left: 17%;
  padding-top: 1%;
}

 .topics-style a:hover{
 text-decoration: none;
  color: black;
 }

 .topics-style a{
  color: #5bc0de;
  text-decoration: none;
  font-family: Arial;
 }

 .topics-style div{
 margin-bottom: 50px;
 margin-top: 60px;
 }

 .topic-side a {
  color: #5bc0de;
  text-decoration: none;
 }

 .topic-side:hover a {
  text-decoration: none;
  color: white;
 }

 .head-topic {
 padding-left: 10%;
 }

.icon-size a{
  font-size: 30px;
  margin-right: 8px;
}

.blogcrumb a{
  font-size: 25px;
  margin: 0px 10px 0px 10px;
}

.sidebar-module {
  margin: 0 auto;
  margin-left: 1%;
  margin-right: 1%
}

.topic-side-bar {
  margin: 0 auto;
  margin-left: 29.75%;
}

.carousel-div .card {
  text-align: center;
  background-color: white;
  border: none;
  padding-left: 10%;
  margin-left: 6%;
}

.blog-sidebar {
  margin-left: 7%;
}

.image-set {
  margin-left: 3%;
  margin-right: 3%;
}

.blog-titling {
  margin-left: -70%;
}

.heading {
  margin-left: 25%
}

.card > .blog-header{
  border: none;
}

.blog-sidebar-source {
  margin-top: 20px;
}

